[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
requests = "*"
bs4 = "*"
lxml = "*"
jsonschema = "*"
mongoengine = "*"
fastapi = "*"
cryptography = "*"
uvicorn = "*"
pydantic = "*"
botocore = "*"
boto3 = "*"
Jinja2 = "*"
html2text = "*"
fastapi-utils = "*"

[requires]
python_version = "3.8.2"
