<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Confirm job search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <p>Hello!</p>

    <p>
      You recently subscribed to updates regarding internship positions using
      the
      <a href="https://internshipper.io">internshipper.io</a> platform.
    </p>

    <p>
      Please confirm your subscription by clicking the following link:
      <a href="{{ confirmation_url }}">{{ confirmation_url }}</a>
    </p>

    <p>
      Thank you for you subscription, and good luck in your studies!
      <br />
      <a href="https://internshipper.io">The internshipper.io Team</a>
    </p>
  </body>
</html>
