<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>New internship position found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <p>Hello!</p>

    <p>
      One of your internship subscriptions from internshipper.io found {{ jobs |
      length }} potential match{% if jobs | length > 1 %}es{% endif %}!
    </p>

    <p>
      You can delete this subscription by clicking the following link: <a href="{{ delete_link }}">{{ delete_link }}</a>.
      When you do this, all data related to the subscription will be deleted.
    </p>

    {% for job in jobs %}
    <p>
      <a href="https://jobiili.fi/#/job/{{ job["id"] }}"
        >https://jobiili.fi/#/job/{{ job["id"] }}</a>
    </p>
    <ul>
      <li>Organization: {{ job["orgName"] }}</li>
      <li>Start date: {{ job["startDate"] }}</li>
      <li>End data: {{ job["endDate"] }}</li>
      <li>Longest available period: {{ job["jobWeeks"] }} weeks ({{ job["jobWeeksContinuous"] }} continuous weeks)</li>
      <li>Maximum students allowed: {{ job["maxTotalPersons"] }}</li>
    </ul>
    {% endfor %}
  </body>
</html>
