<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New internship position found</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <p>Hello!</p>

    <p>One of your internship subscriptions from internshipper.io found a potential match!</p>

    <ul>
        <li>Name of job: {{ jobName }}</li>
        <li>Organization: {{ orgName }}</li>
        <li>Maximum students allowed: {{ maxTotalPersons }}</li>
        <li>Start date: {{ startDate }}</li>
        <li>End data: {{ endDate }}</li>
    </ul>

    <p>
        See internship position here:
        <a href="https://jobiili.fi/#/job/{{ jobId }}">https://jobiili.fi/#/job/{{ jobId }}</a>
    </p>
</body>
</html>
